<!DOCTYPE html>
<html th:replace="~{fragments/layout :: plantilla(~{::body})}" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="content">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Gestión de Usuarios</h2>
        <a class="btn btn-primary" th:href="@{/users/form}">
            <i class="bi bi-person-plus-fill"></i> Nuevo Usuario
        </a>
    </div>

    <form class="row g-3 mb-4" onsubmit="event.preventDefault()">
        <div class="col-md-8">
            <div class="input-group">
            <span class="input-group-text bg-white text-muted">
                <i class="bi bi-search"></i>
            </span>
                <input class="form-control border-start-0 ps-0" id="inputSearch"
                       placeholder="Buscar por nombre, apellido o usuario..." type="text">
            </div>
        </div>

        <div class="col-md-4">
            <div class="input-group">
                <label class="input-group-text bg-light" for="inputState">
                    <i class="bi bi-funnel-fill me-2"></i> Filtrar
                </label>
                <select class="form-select" id="inputState">
                    <option selected>Todos</option>
                    <option value="1">Activos</option>
                    <option value="2">Inactivos</option>
                </select>
            </div>
        </div>
    </form>

    <div id="alert-container"></div>

    <div class="card shadow-sm">
        <div class="card-body p-0 table-responsive">
            <table class="table table-striped table-hover align-middle mb-0">
                <thead class="table-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Email</th>
                    <th scope="col">Creado</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody id="table-users-body">
                <tr>
                    <td class="text-center p-4" colspan="7">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Cargando...</span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script th:src="@{/js/users.js}"></script>
</div>
</body>
</html>